<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Google Search Test">
  
  <parameter name="browser" value="chrome" />
  <parameter name="appurl" value="https://www.google.com" />
  <parameter name="search_data" value="Test NG"/>
  
    <classes>
      <class name="test.google.GSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
