<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Enrollment Test">
  
  <parameter name="browser" value="chrome" />
  <parameter name="appurl" value="http://clientcontracts.qa.fleet.ad" />
  <parameter name="username_data" value="CliCon1E" />
  <parameter name="password_data" value="winter45" />
  <parameter name="Cli_Num" value="0700" />
  <parameter name="rule_name" value="Test Rule" />
  
    <classes>
      <class name="test.enroll.Enroll_rule"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
